@import '../../assets/index.scss';

.pagination-container {
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
    .pagination {
        width: fit-content;
        border: 1px solid $gray-color2;
        border-radius: 100px;
        padding: 0 8px;
        li {
            display: inline-block;
            button {
                cursor: pointer;
                border: none;
                background-color: $cream-color;
                color: $gray-color2;

                &.selected {
                    color: $main-color;
                    font-weight: 700;
                }
            }
        }
    }
}