@import '../../assets/index.scss';

.category-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    .arrow-button {
        width: 49px;
        height: 49px ;
        background: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1450980392) ;
        border-radius: 100%;

        display: flex;
        justify-content: center;  
        align-items: center;
    }

    .next-button{
        transform: rotate(180deg);
    }

    .category-tap-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 85%;

        white-space: nowrap;
        overflow: hidden;

        .category-button{
            margin: 0;
            padding: 15px 33px;
            background-color: $cream-color;
            border: #d8d8d8 1px solid;
            color: #aaaaaa;
            font-weight: 400;

            &:hover{
                border:1px solid $main-color;
                color: $main-color;
            }
        }

        .select-category-button{
            background-color: $main-color;
            color: $cream-color;
            
            &:hover{
                border: $main-color;
                color: $cream-color;
            }
        }
    }
}