@import "../../assets/index.scss";

.recipe-register-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .recipe-register-page-title {
        font-size: 36px;
        font-weight: 700;
        box-sizing: border-box;

        padding-top: 87px;
        padding-bottom: 89px;
    }

    .register-form-container {

        .image-register {


        }

        .left-register-container {

            p {

            }

            .recipe-category-container {


                .recipe-filter {

                }
            }

            .recipe-title-container{

                .recipe-title {

                }
            }

            .recipe-introduction-container {
                
                .recipe-introduction {

                }

            }

        }
    }

    .ingredient-sauce-container {

        p {

        }

        .ingredient-container {


            .ingregdients{

                .ingredient{

                    .ingredient-count{

                    }
                }
            }


        }

        .sauce-container {
            
            .recipe-sauces {

                .sauce-name{


                }

                .sauce-amount{


                }
            }
        }
    }

    .recipe-input-container {

        p {

        }

        .recipe-input {

            .recipe-procedure {


            }
        }
    }

    .recipe-register-button {


    }
}