@import '../../assets/index.scss';

.inner{
	width: 76%;
	margin: 0 auto;
	padding-bottom: 0px;

	.titleBox{
		text-align: center;
		box-sizing: border-box;
		padding: 67px;
		

		h2{
			font-size: 36px;
			font-weight: 800;
		}
	}

	.userBox{
		box-sizing: border-box;
		padding-bottom: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #cecece;

		p{
			font-size: 26px;
			font-weight: normal;

			span{
				font-weight: 800;
				font-size: 31px;
			}
		}

		.edit{
			padding: 16px 26px;
			transition: 0.3s;

			&:hover{
				background: $main-color;
				color: $cream-color;
				transition: 0.3s;
			}
		}
	}
}


.listInner{
	width: 80%;
	margin: 0 auto;

	.saveListBox{
		box-sizing: border-box;
		padding: 100px 0px;
		width: 100%;

		h2.title{
			font-weight: 700;
			font-size: 26px;
			width: 95%;
			margin: 0 auto 54px;
		}

		.saveItemSwiper{

			width: 100%;

			box-sizing: border-box;
			padding: 0px 25px;

			.swiper-button-prev{
				width: 49px;
				height: 49px;
				background: $cream-color;
				box-shadow: 0px 4px 10px #00000025;
				border-radius: 100%;

				left: 5px;
				top: 36%;

				ion-icon{
					color: $main-color;
					font-size: 30px;
				}
			}

			.swiper-button-next{
				width: 49px;
				height: 49px;
				background: $cream-color;
				box-shadow: 0px 4px 10px #00000025;
				border-radius: 100%;

				right: 5px;
				top: 36%;

				ion-icon{
					color: $main-color;
					font-size: 30px;
				}
			}

			.swiper-button-prev:after{
				content: url("../../components/Icons/left.svg");
				color: $main-color;
				width: 30px;
			}

			.swiper-button-next:after{
				content: url("../../components/Icons/right.svg");
				color: $main-color;
				width: 30px;
			}

			.imgBox{
				border-radius: 44px;
				width: 100%;
				height: auto;
				min-height: 324px;
				margin-bottom: 27px;

				img{
					width: 100%;
					height: 100%;
					border-radius: 44px;
				}
			}

			.title{
				font-size: 20px;
				font-weight: 700;
				margin-bottom: 27px;
				line-height: 1.5;
				display: -webkit-box;
				-webkit-line-clamp: 2; /* 표시할 최대 줄 수 */
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			.likes{
				font-size: 19px;
				display: flex;
				align-items: center;

				svg{
					color: $main-color;
					margin-right: 10px;
					width: 19px;
				}
			}
		}
	}

}

.empty{
	width: 100%;
	height: 430px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding:20px;
	border-radius: 44px;
	border: 1px solid #c2c2c2;
	margin-bottom: 67px;

	p{
		font-size: 36px;
		font-weight: 500;
		color: $gray-color2;
	}
}