@import '../../assets/index.scss';

.material-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title {
    font-weight: 700;
    font-size: 36px;
    height: 174px;
    display: flex;
    align-items: center;
}

.bar-container {
    width: 77%;

    .button-box{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid $gray-color2;
        border-bottom: 1px solid $gray-color2;
        box-sizing: border-box;

        .all{
            width: 113px;
            color: $common-color;
            background-color: $cream-color;
        }
    }

    .main-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .sub-bar {
        background-color: rgba(211, 35, 58, 0.1);
        display: flex;
        flex-direction: row;
        :first-child {
            margin-left: 25px;
        }
        
        button {
            color: $gray-color2;
            font-weight: 400;
            background-color: rgba(211, 35, 58, 0);
            margin: 0;
            padding: 25px 16px; 
            box-sizing: border-box;


            &.selected {
                color: $main-color;
                font-weight: 700; 
                text-decoration: underline;
                text-decoration-thickness: 2px;
                text-underline-offset : 6px;
            }

            &:hover{
                color: $main-color;
                font-weight: 700;
                text-decoration: underline;
                text-decoration-thickness: 2px;
                text-underline-offset : 6px;
            }
        }        
    }
    
}

.result {
    width: 77%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 99px;
    p {
        font-size: 26px;
        font-weight: bold;
        > span {
            color: $main-color;
        }
    }
    select {
        margin-left: auto;
    }
}

.ListWrapper {
    margin-top: 54px;
    width: 77%;
    
    .RecipeList {
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        // row-gap: 54px;
        // column-gap: 32px;
        display: flex;
        gap: 35px;
        row-gap: 54px;
        flex-wrap: wrap;

        .RecipeItem {
            width:294px;
            height: 428px;
            cursor: pointer;

            &:hover .ItemImage{
                transform: scale(1.1);
                transition: all 0.5s;
            }

            .item-img{
                border-radius: 44px;
                overflow: hidden;
            }

            .ItemImage {
                width: auto;
                min-height: 320px;
                border-radius: 44px;
                transition: all 0.5s;

            }
            p {
                font-size: 20px;
                font-weight: bold;
                margin-top: 27px;
            }
            span {
                margin-top: 27px;
                display: flex;
                font-size: 19px;
            
                svg {
                    width: 19px;
                    margin-right: 10px;
                    color: $main-color;
                }
            }
        }
        
    }
    
}
