@import '../../assets/index.scss';

.material-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    .arrow-button {
        width: 49px;
        height: 49px ;
        background: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1450980392) ;
        border-radius: 100%;

        display: flex;
        justify-content: center;  
        align-items: center;
    }

    
    .next-button{
        transform: rotate(180deg);
    }
    
    .material-tap-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 82%;

        white-space: nowrap;
        overflow: hidden;

        .button-container{
            position: relative;
            display: flex;
            white-space: nowrap;
            flex-direction: row;
            align-items: center;
            margin: 0;
            
            &.select-material-button{
                .material-button{
                    background-color: $main-color;
                    color: $cream-color;

                    &:hover{
                        border: $main-color;
                        color: $cream-color;
                    }
                }
                
                .delete-button{
                    background-color: $main-color;
                }
            }

            .material-button {
                padding: 15px 59px 15px 33px;
                background-color: $cream-color;
                border: #d8d8d8 1px solid;
                color: #aaaaaa;
                font-weight: 400;
                
                &:hover{
                    border:1px solid $main-color;
                    color: $main-color;
                }
            }
            
            .delete-button {
                position: absolute;
                right:1%;
                transform: translateY(-50%);
                margin: 0;
                top: 50%;
                background-color: $cream-color;
            }
        }
    }
}